<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine on
    RewriteRule ".env" [F]
    RewriteRule "^/public/" - [L]
    RewriteRule ".*" [F]

</IfModule>
